doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
  body
    h1= title
    p= message
    h1 This header was written in PUG file
    p This paragraph was writte in PUG file
    h1 Here comes the picture
      img(src="/public/GOLang.png" alt="GoLang") 