doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
  body
    h1= title
    p= message
    h1 This header was written in PUG file
    p This paragraph was writte in PUG file
    h1 Links to test
      h2 Link to main page
      a(href='http://127.0.0.1:3000/') HomePage
      h2 Links for items
      a(href='http://127.0.0.1:3000/api/items') AllItems
      h2 Links for users
      a(href='http://127.0.0.1:3000/api/user') AllUsers
      h2 Links for media
      a(href='http://127.0.0.1:3000/api/media') AllMedia